:root {
  --segWidth: 1fr
}

.projects {
  border: 1px solid;
  text-align: center;
}
img {
  width: var(--segWidth)
}

body {
  margin: 0px;
}

div.projects {}
/* .Facebook-Karen { float:right }

.Geometrical-Thing { grid-area: Geometrical-Thing; }

.Money { grid-area: Money; }

.Desmos-Colors { grid-area: Desmos-Colors; }

.Discord-Letters { grid-area: Discord-Letters; }

.Rainbow-Highlight { grid-area: Rainbow-Highlight; }

.HexClock { grid-area: HexClock; }
*/
