.projects {
  border: 1px solid;
  text-align: center;
  box-sizing: content-box;
  width: 45%;
  display: inline-block;
}

img {
  width:100%
}

body {
  margin: 0px;
  background-color: black;
}

a {
  color: white
}

h1 {
  font-family: 'Tangerine', cursive;
  text-align: center;
  color: white;
}

.projects img {
  position: relative;
  top: 1em;
  z-index: -1
}

.projects a {
  display: block;
  color: transparent;
  transition: 0.1s color;
}

.text-only > a {
  color: white !important;
  padding-top: auto;
}

.projects a:hover {
  color: white;
  text-shadow: 1px 1px 5px black, 1px 1px 5px black, 1px 1px 5px black
}

.project-container {
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
}
